/* main {
    padding: 20rem 5rem;
    margin: 30px 30px;
}
.thumbnail:hover {
    background-color: red;
    opacity: 0.5;
}
.card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
} */
/* .mx-5 {
    margin-left: ($spacer * 5) !important;
    margin-right: ($spacer * 5) !important;
} */
